<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Warn"
      internalLogFile="Logs/nlog-internal.log">

  <!-- Global logging rules -->
  <targets>
    <!-- Debug log file -->
    <target xsi:type="File"
            name="debugFile"
            fileName="Logs/debug-${shortdate}.log"
            layout="[${longdate} ${level:uppercase=true}] ${message} ${all-event-properties} ${exception:format=ToString}"
            archiveEvery="Day"
            keepFileOpen="false" />

    <!-- Error log file -->
    <target xsi:type="File"
            name="errorFile"
            fileName="Logs/error-${shortdate}.log"
            layout="[${longdate} ${level:uppercase=true} ${scopeproperty:item=CorrelationId}]  ${message} ${all-event-properties} ${exception:format=ToString}"
            archiveEvery="Day"
            keepFileOpen="false" />

    <!-- PostgreSQL target -->
    <target xsi:type="Database"
            name="pg"
            connectionString="Host=localhost;Port=5432;Database=LogsDb;Username=postgres;Password=Base@123"
            dbProvider="Npgsql.NpgsqlConnection, Npgsql">

      <commandText>
        INSERT INTO "ErrorLogs" ("LogEvent", "Message", "Level", "Timestamp", "Exception")
        VALUES (@logEvent, @message, @level, @timeStamp, @exception);
      </commandText>

      <parameter name="@logEvent" layout="${event-properties:item=EventId}"  />
      <parameter name="@message" layout="${message}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@timeStamp" layout="${date:universalTime=true}" dbType="DateTime" />
      <parameter name="@exception" layout="${exception:format=ToString,Data:maxInnerExceptionLevel=10}" />

    </target>
    <target xsi:type="File" name="httpFile"
          fileName="Logs/http.log"
          layout="${longdate}|${level}|${message}" />
  
  </targets>

  <!-- Rules -->
  <rules>
    <logger name="*" minlevel="Debug" writeTo="debugFile" />
    <logger name="*" minlevel="Error" writeTo="errorFile,pg" />
    <logger name="Microsoft.AspNetCore.HttpLogging.*" minlevel="Info" writeTo="httpFile" />
  </rules>
</nlog>

